body{
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(90deg,  #ffd3e0, #ffe3a0, #ffe8a3, #a3e8c2, #a3c8e8);
}

.dark-mode{
    background-image: linear-gradient(-90deg, #0b132b, #1c2541, #3a506b, #5bc0be, #e3fffc);
    color: white;
}

.header{
    text-align: center;
}

h1{
    width: 350px;
    border: 3px solid #1a1a1a;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0;
    /*background-image: linear-gradient(90deg, #ffb84d, #33cccc, #ff4d4d, #ffff33);*/
    background-color: azure;
    color: #1a1a1a;
}

.dark-mode-h1{
    color: azure;
    border: 3px solid white;
    background-color: #1a1a1a;
}

#lightanddark{
    width: 30px;
    height: 25px;
    margin: 10px auto;
    text-align: center;
    border-radius: 35%;
    background-color: white;
}


#boxes{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: auto;
}

 #boxone{
    width: 500px;
    height: 545px;
    border-right: 3px solid white;
    background-image: linear-gradient(90deg, #F7B7A3, #ED828A, #F9A875, #D4A5A5, #CBB4D4 );
}

.dark-boxone-div{
    background-image: linear-gradient(-90deg, #102542, #1e3a56, #489fb5, #82c0cc, #f4a261);
}

#boxtwo{
    width: 500px;
    height: 545px;
    border-right: 3px solid white;
    border-left: 3px solid white;
    background-image: linear-gradient(90deg, #f7e4d5, #f0c6a0, #c3d0d9, #a4c3d2, #5a7a7a );
}

.dark-boxtwo-div{
    background-image: linear-gradient(-90deg, #6a0572, #ab83a1, #5c946e, #1b4332, #f4a261);
}

#boxthree{
    width: 500px;
    height: 545px;
    border-left: 3px solid white;
    background-image: linear-gradient(90deg, #ff6b6b, #f4a261, #d9bf77, #acd8aa, #83c5be);
}

.dark-boxthree-div{
    background-image: linear-gradient(-90deg, #3E1E68, #216869, #303841, #D9BF77, #ECE5D1);
    border-left: 3px solid black;
}

.toggleicon{
    text-align: center;
    margin-right: 2px;
}

