body{
    background-image: linear-gradient(to bottom right, #4d3319, #ac7339,  #d2a679, #e6ccb3);
    background-size: cover;
    background-attachment: fixed;
}
/*style the menu*/

#navmenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallgames, .dropchoices, .dropimages {
    display: none;
    position: absolute;
    z-index: 1;
}

#b-one, #b-two, #b-three, #b-four{
    width: 115px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #ff8c1a;
}

#b-one:hover, #b-two:hover, #b-three:hover, #b-four:hover{
    background-color: #ffa64d;
}

#b-one:active, #b-two:active, #b-three:active, #b-four:active{
    background-color: #00e600;
}

.smallgames a{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    right: 60px;
    font-size: 20px;
    color: white;
    background-color: #cc5200;
    height: 30px;
}

.smallgames a:hover{
    color: black;
}

.smallgames a:active{
    color: white;
    background-color:#00ace6;
}

.dropchoices a{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    left: 180px;
    font-size: 20px;
    color: white;
    background-color: #cc5200;
    height: 30px;
}

.dropchoices a:hover{
    color: black;
}

.dropchoices a:active{
    color: white;
    background-color:#00ace6;
}

.dropimages a{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 58px;
    left: 60px;
    font-size: 20px;
    color: white;
    background-color: #cc5200;
    height: 30px;
}

.dropimages a:hover{
    color: black;
}

.dropimages a:active{
    color: white;
    background-color:#00ace6;
}

.show{
    display: block;
}


/*end of styling menu*/




/*styling the clock*/
#timerbox{
    display: flex;
    flex-direction: column;
}


#timer{
    display: flex;
    margin:  auto;
    justify-content: center;
    align-self: center;
    border: none;
    width: 75px;
    height: 50px;
    font-size: 50px;
    color: #006600;
    margin-top: 50px;
}
/*end of style the clock*/


/*style the buttons and the text*/
#controlbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#start{
    margin-right: 10px;
    margin-top: 100px;
    font-size: 20px;
    background-color: #4dff4d;
}

#start:hover{
    background-color: #00e600;
}

#start:active{
    background-color: #003300;
}

#stop{
    margin-right: 10px;
    margin-top: 100px;
    font-size: 20px;
    background-color: #800000;
}

#stop:hover{
    background-color: #ff471a;
}

#stop:active{
    background-color: crimson;
}

#reset{
    margin-right: 10px;
    margin-top: 100px;
    font-size: 20px;
    background-color: #cccc00;
}

#reset:hover{
    background-color: #ff8c1a;
}

#reset:active{
    background-color:#ffdb4d ;
}

#controls{
    position: relative;
    top: 200px;
    font-size: 20px;
    font-style: italic;
    color: white;
    margin: 0;
}

a{
    position: relative;
    top: 205px;
    margin: 0;
}

#controls2{
    position: relative;
    top: 210px;
    font-style: italic;
    font-size: 20px;
    color: white;
    margin: 0;
}
/*end of styling*/
