
body{
	background-image: linear-gradient(to top right, #33cc00, #53ff1a,#ff8000,	 #ff1a1a,  #990000 );
	background-size: cover;
	background-attachment: fixed;
}
/*style the top menu*/

#navmenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallgames, .dropchoices, .dropimages {
    display: none;
    position: absolute;
    z-index: 1;
}

#b-one, #b-two, #b-three, #b-four{
    width: 115px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: darkmagenta;
	color: azure;
}

#b-one:hover, #b-two:hover, #b-three:hover, #b-four:hover{
       background-color: #8c1aff;
}

#b-one:active, #b-two:active, #b-three:active, #b-four:active{
	background-color: #33cc00;
}

.smallgames a{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    right: 60px;
    font-size: 20px;
    height: 30px;
	background-color: #ff751a;
	color: white;
}

.smallgames a:hover{
	color: black;
}

.smallgames a:active{
    color: white;
    background-color: #8c1aff;
}

.dropchoices a{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    left: 180px;
    font-size: 20px;
    height: 30px;
	background-color: #ff751a;
	color: white;
}


.dropchoices a:hover{
	color: black;
}

.dropchoices a:active{
    color: white;
    background-color: #8c1aff;
}

.dropimages a{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 58px;
    left: 60px;
    font-size: 20px;
    color: white;
    background-color:  #ff751a;
    height: 30px;
}

.dropimages a:hover{
    color: black;
}

.dropimages a:active{
    color: white;
    background-color: #8c1aff;
}

.show{
	display: block;

}
/*end of style menu*/


/*style the coin flip*/
#coinbox{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}


#toss{
	margin-left: 35px;
	width: 150px;
	height: 40px;
	border: 3px solid black;
	font-size: 20px;
	color: azure;
	background-color: darkmagenta;
}

h1{
	text-align: center;
	width: 220px;
	height: 32px;
	border: 5px solid gold;
	color: white;
	background-color: black;
}

h2{
	text-align: center;
	width: 210px;
	height: 35px;
	border: 5px solid gold;
	color: white;
	background: darkred;
}
/*end of styling the coin flip*/



	
	
	
	
	
	
	
	