:root{
    --bodylightcolorone: #05837e;
    --bodylightcolortwo: #36ab92;
    --bodylightcolorthree: #57d4a6;
    --bodylightcolorfour: #75ffba;
    --bodydarkcolorone: #03698b;
    --bodydarkcolortwo: #218681;
    --bodydarkcolorthree: #23a574;
    --bodydarkcolorfour: #03c465;
    --txtlightcolor: #252525;
    --txtdarkcolor: azure;
    --linelight: #333;
    --linedark: #F0F8FF;
    --lightshadowone: #009999;
    --lightshadowtwo: darkslategray;
    --darkshadow: #33ffff;
}

.bodybox{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(25deg, var(--bodylightcolorone), var(--bodylightcolortwo), 
    var(--bodylightcolorthree), var(--bodylightcolorfour));
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--txtlightcolor);
    transition: 2s;
}

.dark-mode{
      background-size: cover;
      background-attachment: fixed;
      background-image: linear-gradient(25deg, var(--bodydarkcolorone), var(--bodydarkcolortwo), 
      var(--bodydarkcolorthree), var(--bodydarkcolorfour));
      color: var(--txtdarkcolor);
      transition: 2s;
}

#paltitle{
    text-align: center;
    margin-top: 8px;
}


#line{
    border-bottom: 2px dotted var(--linelight);
}

.dark-mode #line{
    border-bottom: 2px dotted var(--linedark);
}

#palindromebox{
    position: absolute;
    top: 20%; /* Fixes vertical position */
    left: 50%; /* Sets initial horizontal position */
    transform: translateX(-50%); /* Keeps it centered horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
}

#text-input{
    border: none;
    padding: 25px 45px;
    border-radius: 30px;
    font-size: 20px;
    background-color: snow ;
}

#text-input:hover{
    box-shadow: 1px 4px 13px 3px var(--lightshadowone);
    transition: 1.5s;
}

.dark-mode #text-input:hover{
    box-shadow: 1px 4px 13px 3px var(--darkshadow);
    transition: 1.5s;
}



#check-btn, #clear{
    border: none;
    padding: 15px 30px;
    border-radius: 35px;
    cursor: pointer;
    width: 200px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

#check-btn{
    background-color: var(--bodylightcolorfour);
    transition: 2s;
}

.dark-mode #check-btn{
    background-color: var(--bodydarkcolorthree);
    transition: 2s;
}

#clear{
    background-color: #ff3333;
    transition: 2s;
}

.dark-mode #clear{
    background-color: crimson;
    transition: 2s;
}

#check-btn:hover{
    background-color: var(--bodylightcolorone);
    color: var(--txtdarkcolor);
    box-shadow: 1px 4px 13px 3px var(--lightshadowtwo);
    transition: 1.5s;
}

.dark-mode #check-btn:hover{
    background-color: var(--bodydarkcolorthree);
    color: var(--txtdarkcolor);
    box-shadow: 1px 4px 13px 3px var(--darkshadow);
    transition: 1.5s;

}

#clear:hover{
    background-color: crimson;
    color: var(--txtdarkcolor);
    box-shadow: 1px 4px 13px 3px var(--lightshadowtwo);
    transition: 1.5s;
}

.dark-mode #clear:hover{
    background-color: darkred;
    color: var(--txtdarkcolor);
    box-shadow: 1px 4px 13px 3px var(--darkshadow);
    transition: 1.5s;
}

.txt{
    font-size: 23px;
    text-align: center;
}

#desctxt{
    width: 570px;
    height: 120px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 25px;
    background-color: var(--bodylightcolorthree);
}

#desctxt:hover{
    box-shadow: 1px 4px 13px 3px var(--lightshadowone);
    transition: 1.5s;
}

 .dark-mode #desctxt{
    background-color: var(--bodydarkcolortwo);
 }

 .dark-mode #desctxt:hover{
    box-shadow: 1px 4px 13px 3px var(--darkshadow);
    transition: 1.5s;
 }

@media(max-width: 630px){
    #desctxt{
        width: 400px;
        height: 140px;
    }
}


/* STYLE THE LIGHT-DARK TOGGLE BUTTON */

#togglebtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: 20px;
    right: 20px;
}

/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }